<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Podrobnosti izbranega uporabnika</mat-card-title>
    <mat-card-content>
      <div fxLayout="column wrap" fxLayoutGap="40px">
        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Ime in priimek uporabnika:</strong></div>
          <div fxFlex>{{user?.Name}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Datum rojstva:</strong></div>
          <div fxFlex>{{user?.DateOfBirth | date}}</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>