<section fxLayout="column wrap">
  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Opozorila"> 
      <div *ngIf="hasWarnings"><p>V bazi so nekonsistentni podatki!</p></div> 
    </mat-tab>
    <mat-tab label="Statistika">
       <p>Ni še v uporabi</p>
      </mat-tab>
    <!-- <mat-tab label="Fully responsive navigation menu">
       <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
    </mat-tab> -->
  </mat-tab-group>
</section>